<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Machine Builder 2000</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
     <h1>Done</h1>
     <% getAllNotes().each do |note| %>
      schreib was: <br>
      <%= note.content %>
      <p class="meta">Created: <%= note.created_at %></p>
      <% end %>
     
  </body>
</html>